body{
    background-color: azure;
}

h1{
    text-shadow: 2px 2px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type:lower-alpha;
}

a{
    color:crimson;
    font-size: 30px;
}

a:hover{
    font-style: italic;
}